{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <h3>Post index</h3>
            </div>
        </div>
        <div class="row">
        {% for post in posts %}
            <div class="col-6 my-3">
                <div class="card">
                    <div class="card-header">
                        Id: {{ post.id }}
                    </div>
                    <div class="card-body d-flex">
                        <h5 class="card-title align-self-center m-0">{{ post.Title }}</h5>
                        <div class="btn-group ms-auto" role="group" aria-label="Basic example">
                            <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-primary">
                                <svg class="svg-icon" viewBox="0 0 20 20">
                                    <path fill="none" d="M19.404,6.65l-5.998-5.996c-0.292-0.292-0.765-0.292-1.056,0l-2.22,2.22l-8.311,8.313l-0.003,0.001v0.003l-0.161,0.161c-0.114,0.112-0.187,0.258-0.21,0.417l-1.059,7.051c-0.035,0.233,0.044,0.47,0.21,0.639c0.143,0.14,0.333,0.219,0.528,0.219c0.038,0,0.073-0.003,0.111-0.009l7.054-1.055c0.158-0.025,0.306-0.098,0.417-0.211l8.478-8.476l2.22-2.22C19.695,7.414,19.695,6.941,19.404,6.65z M8.341,16.656l-0.989-0.99l7.258-7.258l0.989,0.99L8.341,16.656z M2.332,15.919l0.411-2.748l4.143,4.143l-2.748,0.41L2.332,15.919z M13.554,7.351L6.296,14.61l-0.849-0.848l7.259-7.258l0.423,0.424L13.554,7.351zM10.658,4.457l0.992,0.99l-7.259,7.258L3.4,11.715L10.658,4.457z M16.656,8.342l-1.517-1.517V6.823h-0.003l-0.951-0.951l-2.471-2.471l1.164-1.164l4.942,4.94L16.656,8.342z"></path>
                                </svg>
                            </a>
                            <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">
                                <svg class="svg-icon" viewBox="0 0 20 20">
                                    <path fill="none" d="M19.471,8.934L18.883,8.34c-2.096-2.14-4.707-4.804-8.903-4.804c-4.171,0-6.959,2.83-8.996,4.897L0.488,8.934c-0.307,0.307-0.307,0.803,0,1.109l0.401,0.403c2.052,2.072,4.862,4.909,9.091,4.909c4.25,0,6.88-2.666,8.988-4.807l0.503-0.506C19.778,9.737,19.778,9.241,19.471,8.934z M9.98,13.787c-3.493,0-5.804-2.254-7.833-4.3C4.182,7.424,6.493,5.105,9.98,5.105c3.536,0,5.792,2.301,7.784,4.332l0.049,0.051C15.818,11.511,13.551,13.787,9.98,13.787z"></path>
                                    <circle fill="none" cx="9.98" cy="9.446" r="1.629"></circle>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        New Id
                    </div>
                    <div class="card-body d-flex">
                        <h5 class="card-title align-self-center m-0">New Title</h5>
                        <a href="{{ path('post_new') }}" class="btn btn-primary ms-auto align-self-center">
                            <svg class="svg-icon" style="width: 1.5em; height: 1.5em;"  viewBox="0 0 20 20">
                                <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
